.history-details {
  .ant-modal-body {
    padding: 12px !important;
  }
  .hvx-contentGame {
    padding-top: 0px !important;
    .hvx-contentTitle {
      padding: 0px;
    }
  }
  .history-details-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .history-details-content::-webkit-scrollbar {
    width: 5px;
  }
  .history-details-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .history-details-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .hvx-contentTitle {
    font-size: 24px;
    font-weight: 600;
  }
  .exam-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    .number-of-correct {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      font-size: 24px;
      color: red;
      border-bottom: 8px solid red;
    }
    .info-content {
      .item {
        display: flex;
        flex-direction: row;
        gap: 8px;
        font-size: 20px;
        .title {
          font-weight: 600;
        }
      }
    }
  }
}
