.hvx-scoresContainer {

    .scoreBox {
        flex-direction: column;
    }

    .hvx-finishScoresIcon {
        font-size: 150px;
    }

    .hvx-scorePoint {
        font-size: 50px;
    }

    .hvx-scoresMessage {
        font-size: 30px;
    }

    .iconFail {
        color: red;
    }

    .iconSuccess {
        color: rgb(130, 230, 31);
    }

    .scoreSuccess {
        color: rgb(130, 230, 31);
    }

    .scoreFail {
        color: red;
    }
}