.hvxButton {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.46) !important;
  border-radius: 4px;
  height: 40px;
  width: 100px;
  background: rgb(39, 176, 218);
  border: none;

  &:hover {
    border: none;
    opacity: 0.7;
    box-shadow: none !important;
  }
}
