.form-edit-exam {
  .quest-item {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgba(92, 92, 92, 0.2);
    position: relative;
  }

  .quest-item-title {
    margin-bottom: 10px;
  }

  .quest-opt {
    margin: 3px 0;
  }

  .item-cpn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.quest-content-html {
  display: flex;
  div {
    display: flex;
  }
}
.table-field {
  th {
    background: rgb(43, 42, 42) !important;
    color: white !important;
  }
  .ant-table-content {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.exam-content {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}
