.form-view-question {
  .form-add-item {
    color: black !important;
  }
  .ant-input[disabled],
  .ant-select-selector {
    color: black !important;
  }
}

.ant-form-item {
  margin-bottom: 8px !important;
}